* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.list-style-none {
  list-style: none;
  padding-left: 0px;
}

.no-underline {
  text-decoration: none;
}

.border {
  border: 1px solid #e1e4e8;
}

/* symbol */

.arrow-down {
  width: 13px;
  margin-left: 5px;
}

.Bump-link-symbol {
  display: inline-block;
  transition: opacity 0.2s, transform 0.2s;
  transform: translateX(0);
}

.Bump-link:hover .Bump-link-symbol {
  transform: translateX(3px);
}

.main-label {
  display: inline-block;
  vertical-align: text-top;
  fill: white;
}

.triangle {
  background: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  color: #fff;
}
.triangle::after {
  content: "";
  position: absolute;
  border: 18px solid transparent; /* Положение треугольника */
  border: 9px solid transparent; /* Прозрачные границы */
  border-bottom: 9px solid rgb(0, 0, 0); /* Добавляем треугольник */
  bottom: 27px;
  left: 15px;
}

.search-key {
  background: url(images/search-key-slash.svg) no-repeat 210px 6px;
  background-size: auto 62%;
}
/* container */

.container-xl {
  max-width: 1280px;
}

.container-lg {
  max-width: 1012px;
}

.container-lg-7 {
  width: 900px;
}

.container-lg,
.container-xl {
  margin-right: auto;
  margin-left: auto;
}

/* col */

.col-1 {
  width: 10%;
}

.col-15 {
  width: 15%;
}

.col-24 {
  width: 24%;
}

.col-4 {
  width: 35%;
}

.col-41 {
  width: 41%;
}

.col-5 {
  width: 50%;
  max-width: 475px;
}

.col-6 {
  width: 56%;
}

.col-60 {
  width: 60%;
}

.col-9 {
  width: 66%;
}

.col-10 {
  width: 75%;
}

.col-80 {
  width: 80%;
}

.col-83 {
  width: 83%;
}

.col-83:hover {
  outline: 1px solid #bac2ca;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.col-lg-3 {
  width: 285px;
}

.col-height {
  height: 70px;
}

.col-max {
  width: 124%;
}

/* position */

.d-block {
  display: block;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.float-left {
  float: left;
}

.d-block {
  display: block;
}

.z-index-1 {
  z-index: 1;
}

.z-3 {
  z-index: 3;
}

/* flex */

.flex-auto {
  flex: auto;
}

.d-flex {
  display: flex;
}
/* flex-justify-align-direction-wrap */

.flex-justify-center {
  justify-content: center;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-items-center {
  align-items: center;
}

.flex-items-stretch {
  align-items: stretch;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* margin  */

.margin-0-auto {
  margin: 0 auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.form-group {
  margin-top: 5px;
  margin-bottom: 15px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1,
.my-1 {
  margin-bottom: 4px;
}

.mt-2 {
  margin-top: 1rem;
}

.m-rl-2 {
  margin-right: 8px;
  margin-left: 8px;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-rbl-3 {
  margin-right: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.mr-rl-3 {
  margin-left: 16px;
  margin-right: 16px;
}

.mt-3 {
  margin-top: 2rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 3rem;
}

.mb-45 {
  margin-bottom: 3rem;
}

.mr-5 {
  margin-right: 4rem;
}

.mt-5 {
  margin-top: 4rem;
}

/* padding */

.p-l-0 {
  padding-left: 0px;
}

/* .gutter-md-spacious>[class*=col-] {
    padding-right: 24px!important;
    padding-left: 24px!important;
} */

.p-responsive {
  padding-right: 16px;
  padding-left: 16px;
}

.p-4-8 {
  padding: 4px 8px;
}

.pr-0 {
  padding-right: 0;
}

.p-tb-1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pr-1 {
  padding-right: 16px;
}

.pt-1 {
  padding-top: 16px;
}

.pl-1 {
  padding-left: 16px;
}

.p-24 {
  padding: 24px;
}

.pd-24-32 {
  padding: 32px 24px 24px;
}

.p-2 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pr-2 {
  padding-right: 24px;
}

.pl-2 {
  padding-left: 24px;
}

.p-tb-3 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pt-3 {
  padding-top: 32px;
}

.pl-3 {
  padding-left: 32px;
}

.pr-4 {
  padding-right: 40px;
}

.pb-5 {
  padding-bottom: 40px;
}

.p-6 {
  padding: 48px;
}

.p-tb-6 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.p-tb-7 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.p-tb-8 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pt-8 {
  padding-top: 80px;
}

.pb-9 {
  padding-bottom: 80px;
}

.pt-10 {
  padding-top: 128px;
}

.communitystats {
  padding-left: 50%;
}

/* text */

.h000-mktg,
.h00-mktg,
.h0-mktg,
.h1-mktg,
.h2-mktg,
.h2,
.lead-mktg {
  font-family: Helvetica, Arial, sans-serif, Symbol;
  font-weight: 500;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.font-famile-helvetica {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
}

.font-famile-helvetica-14 {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
}

.font-famile-helvetica-16 {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
}

.font-famile-helvetica-24 {
  font-size: 24px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
}

.font-famile-helvetica-32 {
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
}

.font-famile-helvetica-40 {
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji !important;
}

.text-mono {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
}

.text-normal {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-md-left {
  text-align: left;
}

/* font-size */

.font-size-16 {
  font-size: 16px;
}

.lead-mktg {
  font-size: 20px;
  font-weight: 400;
}
.h000-mktg {
  font-size: 64px;
}

.h00-mktg {
  font-size: 48px;
}

.h1-mktg {
  font-size: 32px;
}

.f1 {
  font-size: 12px;
}

.f2 {
  font-size: 14px;
  font-weight: bolder;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 16px;
}

.h5 {
  font-size: 14px;
}

/* line-height */

.lh-0 {
  line-height: 0;
}

.lh-1 {
  line-height: 1;
}

.lh-2 {
  line-height: 1.25;
}

.lh-3 {
  line-height: 1.8;
}

/* text-colour and bg-colour */

.link-gray {
  color: #586069;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-gray-dark {
  color: #24292e;
}

.text-gray-light {
  color: #6a737d;
}

.text-orange {
  color: #a04100;
}

.text-purple {
  color: #6f42c1;
}

.text-blue {
  color: #0366d6;
}

.text-blue-mktg {
  color: #1074e7;
}

.bg-blue-7 {
  background-color: #044289;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #5c5c5c85 !important;
}

.bg-gray-light {
  background-color: #fafbfc;
}

.bg-gray-dark {
  background-color: #24292e;
}

/* rounded */

.rounded-1 {
  border-radius: 6px;
}

/* button */

.btn-mktg {
  display: inline-block;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  background-color: #1074e7;
  border: 1px solid #1074e7;
  border-radius: 6px;
  z-index: 1;
  outline: none;
}

.btn-mktg:hover {
  text-decoration: none;
  background-color: #0366d6;
  border-color: #0366d6;
}

.btn-primary-mktg {
  background-color: #2ebc4f;
  border-color: #2ebc4f;
}

.btn-primary-mktg:hover {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-large-mktg {
  padding: 20px 32px;
  font-size: 16px;
}

.width-btn-explore {
  width: 82px !important;
}

.btn-block {
  width: 100%;
  text-align: center;
}

.btn-mr-tb {
  margin-top: 16px;
  margin-bottom: 16px;
}

.ptn-p-tb {
  padding-bottom: 30px;
  padding-top: 30px;
}

.btn-mr-left {
  margin-left: 6rem;
}

.btn-outline-mktg {
  color: #1074e7;
  background-color: hsla(0, 0%, 100%, 0);
  border-color: rgba(16, 116, 231, 0.5);
}

.btn-outline-mktg:hover {
  color: #0366d6;
  text-decoration: none;
  background-color: hsla(0, 0%, 100%, 0);
  border-color: #1074e7;
}

.btn-width {
  width: 312px;
  height: 55px;
}

/* img-responsive */

.img-responsive {
  position: relative;
}

.img-responsive:hover .random-text,
.img-responsive:hover .random-btn,
.img-responsive:hover .random-text-2 {
  opacity: 1;
  transition: opacity 0.1s;
}

.img-responsive:hover .circle-orange,
.img-responsive:hover .circle-blue,
.img-responsive:hover .circle-purple {
  transition: transform 0.3s;
  transform: scale(1.1);
}

.img-responsive:hover .octicon-orange {
  fill: #f66a0a;
}

.img-responsive:hover .octicon-blue {
  fill: #0366d6;
}

.img-responsive:hover .octicon-purple {
  fill: #6f42c1;
}

/* random-btn */

.random-btn {
  opacity: 0;
  position: absolute;
  width: 102px;
  height: 51px;
  top: 10px;
  background: rgba(7, 9, 145, 0.3);
  left: 150px;
  color: #fff;
}

.random-btn:hover {
  background: rgba(236, 179, 23, 0.3);
}

.random-text {
  opacity: 0;
  position: absolute;
  padding: 5px;
  width: 50px;
  height: 30px;
  bottom: -37px;
  background: black;
  left: 23px;
  color: #fff;
  transition: opacity 0.1s;
  outline: none;
}

.img-responsive:hover .random-div-img,
.img-responsive:hover .random-div-img-2,
.img-responsive:hover .random-div-img-3 {
  opacity: 1;
  transition: opacity 0.1s;
}

.random-div-img,
.random-div-img-2,
.random-div-img-3 {
  width: 200px;
  height: 200px;
  opacity: 0;
  position: absolute;
  color: #fff;
  transition: opacity 0.1s;
  outline: none;
}

.random-div-img {
  right: 410px;
  top: -20px;
}

.random-div-img-2 {
  right: 400px;
  bottom: 80px;
}

.random-div-img-3 {
  right: 380px;
  bottom: 260px;
}

/* header */
.header-old {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #24292e;
}

/* Navbar container */

.dropdown {
  width: 120px;
}

.page-responsive .HeaderMenu-link .icon-chevon-down-mktg {
  top: -2px;
  width: 12px;
  stroke: hsla(0, 0%, 100%, 0.5);
  background: transparent;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.hover-gray:hover {
  opacity: 0.75;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 280px;
  border-radius: 6px;
  padding: 23px 23px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  line-height: 1.9rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a span:hover {
  color: #0366d6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.line {
  border: 1px solid #e7e7e7;
  margin-top: 12px;
  margin-bottom: 12px;
}

.dropdown-small {
  width: 80px;
}

.search-github {
  width: 240px;
  height: 36px;
  border: 1px solid rgb(43, 43, 43);
  padding: 8px 12px;
  outline: none;
}

.search-github::placeholder {
  color: #cfd3d6;
}

.search-github:focus {
  width: 240px;
  height: 36px;
  border: 1px solid rgb(201, 201, 201);
  outline: none;
  background-color: white;
}

.header-search-wrapper {
  font-size: 16px;
}

/* main */

.jumbotron-codelines {
  color: hsla(0, 0%, 100%, 0.6);
  background: url(images/simple-codelines.svg), #2b3137;
  background-size: cover;
}

.jumbotron-link {
  font-weight: 400;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.125);
}

.jumbotron-link:hover {
  text-decoration: none;
  border-bottom-color: hsla(0, 0%, 100%, 0.75);
}
.container-width {
  width: 62%;
  min-width: 1000px;
}

.free-trial__item {
  width: 100%;
}

.input {
  padding: 0;
  outline: none;
  border: 0;
}

.form-control {
  border: 1px solid #bdbdbd;
  width: 100%;
  padding: 10px 10px;
}

.form-control:focus {
  border-color: #0366d6;
  border-radius: 6px;
  outline: none;
  font-family: inherit;
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

.form-control-note {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 12px;
  color: #6a737d;
}

.text-decor:hover {
  text-decoration: underline;
}
/* section-1 */

.home-enterprise-wrapper {
  position: relative;
}

.home-enterprise-wrapper:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 75%;
  content: "";
  background-color: #fafbfc;
}

.box-shadow-large {
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

.home-enterprise {
  position: relative;
}

.home-enterprise:before {
  width: 35%;
  position: absolute;
  top: -31px;
  left: -31px;
  z-index: -1;
  width: 31%;
  height: 103%;
  content: "";
  background: url(images/dots-small.svg);
}

.d-md-block {
  display: block;
}

/* section-2 */

.bg-blue-7 {
  background-color: #044289 !important;
}

.promo-banner-bg:after,
.promo-banner-bg:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(images/contribution-graph.svg);
  background-size: 80% auto;
  mix-blend-mode: multiply;
}

/* label */

.label {
  display: inline-block;
  padding: 1px 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 2em;
  background-color: initial;
  border: 1px solid #28a745;
  color: #22863a;
}

/* section-3 */

.grayscale {
  filter: grayscale(100%);
}

.logo-img-sm {
  width: auto;
  height: 25px;
  margin: 10px;
}

.customer-story-card {
  box-shadow: 0 2px 4px rgba(27, 31, 35, 0.15);
}

.customer-story-card-img {
  object-fit: cover;
}

.card-width {
  width: 77%;
}

.width-full {
  width: 100%;
}

.width-fit {
  max-width: 100%;
}

.height-full {
  height: 100%;
}

.height-lion {
  height: 250.17px;
}

.border-top {
  border-top: 1px solid #e1e4e8;
}

.arrow-hover:hover {
  color: #0366d6;
  text-decoration: none;
  background-color: hsla(0, 0%, 100%, 0);
  border-color: #1074e7;
}

.input-width {
  width: 280px;
  height: 46px;
}
/* section-5 */
.border-bottom-blue {
  border-bottom: 1px solid #81bcff;
}

.border-bottom-blue:hover {
  border-bottom: 1px solid #0366d6;
}

/* section-6 */

.height-150 {
  height: 150px;
}

.hover-box-shadow:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.img-responsive:hover .small-dots-left,
.img-responsive:hover .small-dots-right {
  opacity: 1;
  transition: opacity 0.6s;
}

.small-dots-left,
.small-dots-right {
  position: absolute;
  z-index: -1;
  width: 180px;
  height: 180px;
  content: "";
  background: url(images/dots-small.svg);
  opacity: 0;
  transition: opacity 0.6s;
  outline: none;
}

.small-dots-left {
  top: -43px;
  left: -43px;
}

.small-dots-right {
  top: 29px;
  left: 406px;
}

/* section-7 */

.circle-96 {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
}

.images-52 {
  width: 52.8px;
  height: 52.8px;
}

.position-2 {
  position: relative;
  bottom: 2rem;
}

/* section-9 */

.circle-orange,
.circle-blue,
.circle-purple {
  position: absolute;
  border-radius: 50%;
  transition: transform 0.3s;
}

.circle-orange {
  width: 225px;
  height: 225px;
  background-color: #f66a0a;
  left: -500px;
  top: 30px;
}

.circle-blue {
  width: 175px;
  height: 175px;
  background-color: #0366d6;
  left: -250px;
  top: -30px;
}

.circle-purple {
  width: 140px;
  height: 140px;
  background-color: #6f42c1;
  left: -340px;
  top: 30px;
}

.circle-orange:hover,
.circle-blue:hover,
.circle-purple:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}

.box-shadow-extra-large {
  box-shadow: 0 12px 48px rgba(149, 157, 165, 0.3) !important;
}

/* footer */

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.link-gray:hover {
  color: #0366d6 !important;
  text-decoration: underline;
}
